

.web-form {
    width: 75%;
    position: relative;
    margin: auto;
    background-color: #fffffd;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.web-form div {
    margin-top: 10px;
}

.radio,
.checkbox {
    width: 20px !important;
    height: 20px !important;
}




.submit:hover {
    background-color: #ffffff;
    color: #000000 !important;
}